name: Deploy Infrastructure and Application

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: AWS & Terraform cred-env Step
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: echo "Credentials set"

      - name: Terrafom Login 
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Terraform local Init and Extract IP Addresses
        run: |
          cd terraform/
          terraform init
          sleep 2
          terraform output -raw bastion_public_ip
          terraform output -raw private_instance_ip
          echo "BASTION='$(terraform output -raw bastion_public_ip)'" >> "$GITHUB_ENV"
          echo $BASTION
          echo "CLUSTER='$(terraform output -raw private_instance_ip)'" >> "$GITHUB_ENV"
          echo $CLUSTER

      # The following steps assume secure handling of SSH keys and credentials
      - name: Create SSH Key File
        env:
          SSH_PRIVATE_KEY: ${{ secrets.MOVEO_PAIR_PEM }}
        run: |
          mkdir -p $HOME/.ssh
          echo "$SSH_PRIVATE_KEY" > $HOME/.ssh/moveo-pair.pem
          chmod 400 $HOME/.ssh/moveo-pair.pem

      - name: Deploy to Kubernetes via Bastion
        run: ssh -i $HOME/.ssh/moveo-pair.pem ubuntu@$BASTION "ssh -i moveo-pair.pem $CLUSTER 'microk8s kubectl apply -f moveo_nginx/kubernetes/nginx.yaml'"
